.country{
  .btn-sort{
    padding: 15px;
    border: 0;
    margin: 10px;
    background-color: lightcoral;
    color: #fff;
  }
  .country-api{
    margin: 10px;
  }
  .country-info{
    color: lightseagreen;
  }
}

